
    <div class="newsletter">
        <div class="container">
            <div class="row">
                <div class="col">

                    <div class="newsletter_container d-flex flex-lg-row flex-column align-items-lg-center align-items-center justify-content-lg-start justify-content-center">
                        <div class="newsletter_title_container">

                            <div class="newsletter_icon"><img src="~/images/send.png" alt=""></div>
                            <div class="newsletter_title">@Localizer["PSignUnNewsLetter"]</div>
                            <div class="newsletter_text"><p>@Localizer["PReceiveCoupon"]</p></div>
                        </div>

                        <div class="newsletter_content clearfix">

                            <form action="#" name="news" class="newsletter_form ">
                                <input id="email" name="email" type="email" class="newsletter_input" required="required" placeholder="@Localizer["PEnterEmailAdress"]" />
                                <input type="button" class="newsletter_button" onclick="inscription()" value="@Localizer["PSubscribe"]" />
                            </form>
                            <div class="newsletter_unsubscribe_link"><a name="desabonner" href="#desabonner" onclick="desabonner();">@Localizer["PUnsubscribe"] </a></div>


                        </div>

                    </div>
                    <div align="center"> <span id="resultat" align="center"> </span></div>

                </div>
            </div>
        </div>
    </div>

